.sub-title-services-section {
  font-size: 18px;
  color: #199ed3;
  font-weight: bold;
  line-height: 22.4px;
}

.description-services-section {
  color: #54595f;
  font-size: 16px;
  font-weight: lighter !important;
}
